/* GENERAL RULES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato";
}

#logo {
  height: 100px;
}

.container {
  flex-direction: column;
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 10px 10%;
}

.new-todo {
  padding: 10px 10%;
  display: flex;
  width: 100%;
}

.new-todo > input {
  flex: 1;
}

.totH1 {
  display: flex;
  justify-content: space-around;
  width: 70vw;
  flex-wrap: wrap;
}

.listItems {
  padding: 10px 10%;
  background-color: lightgrey;
  width: 100%;
  border-radius: 10px;
}

.listItems ul {
  list-style-type: none;
}

.listItems li {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid grey;
  justify-content: space-between;
}

.listItems li i {
  cursor: pointer;
}
